.hlist-inline {
    display: inline-flex;
    -webkit-display: inline-flex;
}
.hlist-inline * {
    display: inline;
}
.hlist-inline *:after:not(:last-child) {
    content: " · ";
    font-weight: bold;
    white-space: pre;
}

/* Twitter Emoji */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    box-shadow: none;
}
